{% extends "base.html"%} {% block body%}
<h3>Leave a Review for {{ booking.package.name }}</h3>

<form method="POST">
  <div class="form-group">
    <label for="sevice_pkg">Service-Package Name</label>
    <textarea
      id="service_pkg"
      name="service_pkg"
      class="form-control"
      required
    ></textarea>
    <input type="datetime-local" name="date" required />
    <label for="review">Review</label>
    <textarea
      id="review"
      name="review"
      class="form-control"
      required
    ></textarea>
  </div>
  <div class="form-group">
    <label for="rating">Rating</label>
    <select id="rating" name="rating" class="form-control" required>
      <option value="1">1 - Poor</option>
      <option value="2">2 - Fair</option>
      <option value="3">3 - Good</option>
      <option value="4">4 - Very Good</option>
      <option value="5">5 - Excellent</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Submit Review</button>
</form>
{% endblock %}
