{% extends "base.html"%}
<div>
  {% block body%}
  <h3>{{ service.name }}</h3>

  <h3>Available Packages</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Prof</th>
        <th>Req</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      {% for package in package %}
      <tr>
        <td>{{ package.id }}</td>
        <td>{{ package.name }}</td>
        <td>{{ package.description }}</td>
        <td>{{ service.prof_id }}</td>
        <td>{{ package.price }}</td>
        <td>
          <a
            href="{{ url_for('book_package',service_id=service.id,package_id=package.id) }}"
            >Book</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
